<?xml version="1.0" encoding="utf-8"?>
<plugin xmlns="http://www.phonegap.com/ns/plugins/1.0"
        id="com.ihealth.plugin.bgmanagercordova"
        version="0.0.1">

  <name>plugin_Bp</name>

  <engines>
    <engine name="cordova" version=">=3.4.0"/>
  </engines>

  <asset src="www/BgManagerCordova.js" target="js/BgManagerCordova.js"/>

  <js-module src="www/BgManagerCordova.js" name="BgManagerCordova">
    <clobbers target="BgManagerCordova" />
  </js-module>

  <platform name="android">

    <config-file target="res/xml/config.xml" parent="/*">
      <feature name="BgManagerCordova">
        <param name="android-package" value="com.ihealth.plugin.BgManagerCordova"/>
      </feature>
    </config-file>
    
    <config-file target="AndroidManifest.xml" parent="/manifest">
      <uses-permission android:name="android.permission.BLUETOOTH" />
      <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    </config-file>    
    <source-file src="src/android/BaseComm.java" target-dir="src/com/ihealth/plugin/"/> 
    <source-file src="src/android/BaseCommProtocol.java" target-dir="src/com/ihealth/plugin/"/> 
    <source-file src="src/android/BtCommThread.java" target-dir="src/com/ihealth/plugin/"/> 
    <source-file src="src/android/Bg5Control.java" target-dir="src/com/ihealth/plugin/"/> 
    <source-file src="src/android/Bg5InsSet.java" target-dir="src/com/ihealth/plugin/"/>  
    <source-file src="src/android/Bg5Manager.java" target-dir="src/com/ihealth/plugin/"/> 
    <source-file src="src/android/BgManagerCordova.java" target-dir="src/com/ihealth/plugin/"/>  
    <source-file src="src/android/BtCommProtocol.java" target-dir="src/com/ihealth/plugin/"/> 
    <source-file src="src/android/BtUnpackageData.java" target-dir="src/com/ihealth/plugin/"/>  
    <source-file src="src/android/ByteBufferUtil.java" target-dir="src/com/ihealth/plugin/"/> 
    <source-file src="src/android/CrcCheck.java" target-dir="src/com/ihealth/plugin/"/>
    <source-file src="src/android/DataNotify.java" target-dir="src/com/ihealth/plugin/"/> 
    <source-file src="src/android/DataNotifyImpl.java" target-dir="src/com/ihealth/plugin/"/> 
    <source-file src="src/android/DeviceControl.java" target-dir="src/com/ihealth/plugin/"/> 
    <source-file src="src/android/HttpPost.java" target-dir="src/com/ihealth/plugin/"/> 
    <source-file src="src/android/HttpsPost.java" target-dir="src/com/ihealth/plugin/"/> 
    <source-file src="src/android/IdentifyIns.java" target-dir="src/com/ihealth/plugin/"/> 
    <source-file src="src/android/NewDataCallback.java" target-dir="src/com/ihealth/plugin/"/> 
    <source-file src="src/android/UnitTest.java" target-dir="src/com/ihealth/plugin/"/>   
    <source-file src="src/android/WebConfig.java" target-dir="src/com/ihealth/plugin/"/> 
    <source-file src="src/android/XXTEA.java" target-dir="src/com/ihealth/plugin/"/>      
    <!-- <lib-file src="src/android/libs/pluginbp.jar" /> -->

  </platform>

  <platform name="ios">
    
    <config-file target="config.xml" parent="/widget">
      <feature name="Hello">
        <param name="ios-package" value="HWPHello" />
      </feature>
    </config-file>

    <header-file src="src/ios/HWPHello.h" target-dir="HelloPlugin"/>
    <source-file src="src/ios/HWPHello.m" target-dir="HelloPlugin"/>
  </platform>

  <platform name="wp7">
    <source-file src="src/wp7/Hello.cs"/>
  </platform>

</plugin>